@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&display=swap');

* {
    margin: 0; padding: 0;
    font-family: 'Poppins', sans-serif;
    list-style: none;
}
a {
    text-decoration: none;
}
ul {
    margin-bottom: 0;
    padding-left: 0;
}
img {
    vertical-align: middle;
}
h2 {
    margin-bottom: 0;
}
:root {
    /* 淺紫#D0B7CC */
    /* 深綠#25322B */
    /* 紫色#9B81AE */
    /* 銀色#CEB9AC */
    /* 亮銀#EDE4DF */
    /* 考慮灰aliceblue */
    --main-color: #25322B;
    --main-color-active: #4d5853;
    --side-color: #9B81AE;
    --side-color-active: #D0B7CC;
    --side-color-bg: #E8C6E9;
    --third-color: goldenrod;
    --third-color-active: rgb(224, 192, 7);
    --light-color: #ccc;
    --transparent-white: rgba(255,255,255,.3);
    --strong-color: #779;
}
html::-webkit-scrollbar {
    width: 10px;
}
html::-webkit-scrollbar-track {
    background-color: transparent;
}
html::-webkit-scrollbar-thumb {
    background-color: var(--main-color);
}
.container {
    max-width: 1200px;
    margin: auto;
    height: 100%;
}
.btn {
    border: none;
    outline: none;
    cursor: pointer;
    padding: 10px 15px;
    color: #fff;
    background-color: var(--side-color);
    border-radius: 10px;
    font-size: 16px;
    display: inline-block;
}
.btn:hover {
    background-color: var(--side-color-active);
    color: var(--main-color);
    font-weight: 600;
}
.btn-choose {
    border-radius: 5px;
    border: 1px solid var(--light-color);
    padding: 5px 10px;
    display: inline-block;
    cursor: pointer;
    margin-right: 10px;
}
.btn-choose.disabled {
    pointer-events: none;
    background-color: #eee;
    color: #ccc;
}
.btn-choose i {
    padding-right: 5px;
    color: var(--light-color); 
}

.btn-choose.active {
    border-color: var(--side-color);
    color: var(--side-color);
    font-weight: 600;
}

.btn-choose.active i {
    color: var(--side-color);
}
.btn-compare,
.btn-heart {
    display: block;
    border-radius: 5px;
    background-color: var(--side-color);
    color: #fff;
    padding: 5px 10px;
    border: none;
    outline: none;
    cursor: pointer;
    margin: 0 5px;
}
.btn-heart.disabled {
    pointer-events: none;
    background-color: var(--light-color);
}
.btn-compare i {
    padding-right: 7px;
}
.btn-heart i {
    padding-right: 5px;
}

.btn-compare.active,
.btn-heart.active {
    background-color: var(--side-color-active);
}
.btn-more {
    cursor: pointer;
    font-weight: 600;
    color: #aaa;
    font-size: 20px;
    width: 15%;
    text-align: center;
}
.btn-more:hover {
    color: var(--light-color);
}
.block-main-title {
    display: flex;
    align-items: center;
    padding: 20px 0;
    color: var(--side-color);
}
.main-title {
    padding-left: 10px;
    padding-bottom: 0;
    font-size: 30px;
    font-weight: 600;
}
.block-main-title i {
    font-size: 25px;
}
.section {
    padding: 60px 0;
}
/* =================== 通用 ================= */
/* ================ RWD ============== */
@media (max-width: 1199px) {
    .container {
        padding: 0 20px;
    }
}

/* ========== header ============= */
.header {
    /* padding: 10px 0; */
    height: 70px;
    background-color: var(--main-color);
    position: relative;
    z-index: 10;
}
.header .container {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header .logo {
    display: inline-block;
    font-size: 40px;
    letter-spacing: 8px;
    color: #fff;
}

.header .navbar {
    position: absolute;
    top: 100%;
    right: 0; left: 0;
    font-size: 0;
}
.header .navbar.active {
    position: fixed;
    right: 0; left: 0;
    top: 0;
    /* fixed就會依據視窗給予寬，所以不想跟他一樣，就設定max-width */
    max-width: 1200px;
    margin: auto;
    z-index: 1000;
    padding: 0;
    animation: slowDown .3s linear;
}

@keyframes slowDown {
    0% {
        transform: translateY(-80%);

    }
    100% {
        transform: translateY(0);
    }
}
.header .navbar.active a {
    background-color: var(--main-color);
    color: #fff;
}

.header .navbar a {
    background-color: #fff;
    display: inline-block;
    width: calc(33.33333333333% - 1.333333px);
    text-align: center;
    color: var(--main-color);
    font-size: 20px;
    padding: 15px 0;
    border-right: 1px solid var(--light-color);
    box-shadow: 0 10px 15px rgba(0,0,0,.1);
    font-weight: 600;
}
.header .navbar a:first-child {
    border-left: 1px solid var(--light-color);
}
.header .navbar a i {
    padding-right: 5px;
    transition: .2s linear;
}

.header .navbar a:hover {
    box-shadow: 0 10px 15px rgba(0,0,0,.15);
}
.header .navbar a:hover i {
    transform: scaleX(-1);
}
.header .assistant {
    position: fixed;
    bottom: 0px;
    right: 25px;
    z-index: 101;
}

.header .assistant .btn-assistant {
    cursor: pointer;
    font-size: 40px;
    color: var(--side-color);
}

.header .assistant .remark {
    position: absolute;
    background-color: #fff;
    box-shadow: 0 5px 10px rgba(0,0,0,.5);
    padding: 15px;
    top: -100px;
    right: 0;
    width: 150px;
    border-radius: 30px;
}
.header .assistant .remark::after {
    content: '';
    position: absolute;
    border-right: 10px solid transparent;
    border-left: 10px solid transparent;
    border-top: 10px solid #fff;
    bottom: -10px;
    left: 50%; right: 0;
    width: 0;
    margin: auto;
}
.header .assistant .remark::before {
    content: '';
    position: absolute;
    border-right: 20px solid transparent;
    border-left: 20px solid transparent;
    border-top: 20px solid rgba(0,0,0,.08);
    bottom: -20px;
    left: 50%; right: 0;
    width: 0;
    margin: auto;
}

/* ============= navbar =============== */
/* ========== RWD =========== */
@media (max-width: 575px) {
  .header .navbar  a {
    display: block;
    width: 100%;
    text-align: left;
    padding: 15px 10px;
    background-color: var(--main-color-active);
    color: #fff;
    box-sizing: border-box;
  }
  .header .navbar a:first-child {
    border: none;
  }
  .header .navbar.active {
    position: static;
  }
  
}
/* ========== breadcrumb ============ */
.breadcrumb {
    padding-top: 100px;
}
.breadcrumb .breadcrumb-list li {
    display: inline-block;
}
.breadcrumb .breadcrumb-list li + li::before {
    content: '>';
    display: inline-block;
    padding: 0 8px;
    color: #aaa;
}

.breadcrumb .breadcrumb-list li a {
    color: #aaa;
}
.breadcrumb .breadcrumb-list li a:hover {
    color: var(--side-color);
    font-weight: 600;
}
.breadcrumb .breadcrumb-list li a.active {
    color: var(--side-color);
    font-weight: 600;
    pointer-events: none;
}
/* ========= section-home ========== */
.section-home {
    padding-bottom: 0;
    background: url('https://upload.cc/i1/2022/04/04/lCMj2U.jpg') center top no-repeat;
    background-size: cover;
    /* background-position: bottom; */
    min-height: calc(100vh - 130px);
    position: relative;
    overflow: hidden;
    /* z-index: 0; */
}
/* .section-topic::before {
    content: url('https://upload.cc/i1/2022/04/07/Nw2pE8.png');
    content:'';
    position: absolute;
    絕對位置 + transform並用
    top: 0; right: 0; left: 0;
    transform: translateY(-100%);
    height: 300px;
    background-size: cover;
    background-position: center;
    background: url('https://upload.cc/i1/2022/04/07/Nw2pE8.png') no-repeat;
    z-index: 2;
}  */
.section-home:hover #home-slide-next,
.section-home:hover #home-slide-prev {
    display: block;
}
/* .section-home::after {
    content: '';
    position: absolute;
    top: 0; right: 0; left: 0; bottom: 0;
    background-color: rgba(255,255,255,.4);
    z-index: -1;
} */

.section-home .home-slider .slide {
    /* display: flex; */
    width: 100%;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    position: relative;
    /* z-index: 3; */
    display: none;
    gap: 30px;
}
.section-home .home-slider .slide.active {
    display: flex;
}
.section-home .home-slider .slide .content {
    width: calc(50% - 15px);
    padding: 20px;
    box-sizing: border-box;
    border-radius: 10px;
    animation: leftShow .4s linear .3s backwards;
    z-index: 5;
}
@keyframes leftShow {
    0% {
        transform: translateX(-50px);
        opacity: 0;
    }
}
.section-home .home-slider .slide .content span {
    font-size: 25px;
    color: var(--strong-color);
}
.section-home .home-slider .slide .content h3 {
    font-size: 60px;
    color: var(--main-color);
    letter-spacing: 3px;
}
.section-home .home-slider .slide .content p {
    font-size: 15px;
    color: var(--strong-color);
    padding: 10px 0;
    line-height: 2;
}
.section-home .home-slider .slide .content a {
    background-color: var(--side-color);
}
.section-home .home-slider .slide .image {
    width: calc(50% - 15px);
    padding-top: 50px;
    animation: fadeUp .7s linear;
    transform: translateY(20%);
    position: relative;
    /* z-index: -1; */
}
.section-home .home-slider .slide .image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

@keyframes fadeUp {
    0% {
        transform: translateY(50%);
        opacity: 0;
    }
}
.section-home #home-slide-next,
.section-home #home-slide-prev {
    font-size: 30px;
    width: 60px;
    height: 60px;
    background-color: var(--transparent-white);
    text-align: center;
    line-height: 60px;
    position: absolute;
    z-index: 10;
    top: 50%;
    transform: translateY(-50%);
    border: 1px solid var(--light-color);
    box-shadow: 0 5px 10px rgba(0,0,0,.3);
    cursor: pointer;
    transition: .3s linear;
    /* display: none; */
}
@keyframes slowLeftShow {
    0% {
        opacity: 0;
        left: 0px;
    }
}
@keyframes slowRightShow {
    0% {
        opacity: 0;
        right: 0px;
    }
}
.section-home #home-slide-next:hover,
.section-home #home-slide-prev:hover {
    background-color: var(--main-color);
    color: #fff;
    border-color: var(--main-color);
}
/* 碰section-topic 也會出現=> 寫js => mouseover不好用*/ 
.section-home #home-slide-next.hover,
.section-home #home-slide-prev.hover {
    background-color: var(--main-color);
    color: #fff;
    border-color: var(--main-color);
}
.section-home #home-slide-next {
    right: 30px;
    animation: slowRightShow .3s linear;
}
.section-home #home-slide-prev {
    left: 30px;
    animation: slowLeftShow .3s linear;
}

/* ========== section-home =========== */
/* ========== RWD =========== */
@media (max-width: 1199px) {
}
@media (max-width: 767px) {
    .section-home .home-slider .slide .content {
        padding: 0;
        width: 100%;
    }
    .section-home .home-slider .slide .image {
        width: 100%;
        padding-top: 0px;
    }
    .section-home .home-slider .slide .image img {
        width: 80%;
        margin: 0 auto;
        display: flex;
    }
    .section-home .home-slider .slide .content span {
        font-size: 18px;
    }
    .section-home .home-slider .slide .content h3 {
        font-size: 35px;
    }
    .section-home .home-slider .slide .content p {
        font-size: 13px;
        padding: 0 0 10px;
        line-height: 1.2;
    }
    .section-home .home-slider .slide .content a {
        padding: 5px 10px;
    }
    
    .section-home #home-slide-next,
    .section-home #home-slide-prev {
        font-size: 18px;
        width: 35px;
        height: 35px;
        line-height: 35px;
        top: unset;
        bottom: 0;
    }
    .section-home #home-slide-prev {
        left: unset;
        right: 80px;
    }
}
/* @media (max-width: 575px) {
    .section-home::after {
        content: '';
        display: block;
        background-color: #ffa;
        height: 250px;
    }
} */

/* =============== section-topic ============= */
.section-topic {
    /* transform: translateY(-400px); 會佔位*/
    /* top: -400px; 會佔位*/ 
    /* margin-top: -350px; rwd就不用調整*/
    margin-top: -20%;
    /* padding-top: 500px; */
    padding-top: 31%;
    background: url('https://upload.cc/i1/2022/04/07/Nw2pE8.png') no-repeat center top  ,
                transparent;
    position: relative;
    background-size: 100%;
    /* size當初切好的 */
    z-index: 2;
}
.section-topic .item-group {
    display: flex;
    flex-wrap: wrap;
    gap: 21px;
} 
.section-topic .item-group .item {
    width: calc(33.3333% - 14px);
    text-align: center;
    color: var(--side-color);
    background-color: #fff;
    padding: 20px;
    box-sizing: border-box;
    border-radius: 5px;
    box-shadow: 0 5px 10px rgba(0,0,0,.3);
    cursor: pointer;
    position: relative;
    z-index: 1;
}
/* .section-topic .item-group .item::after {
    content: '';
    position: absolute;
    right: 0; left: 0; top: 0; bottom: 0;
    background-color: rgba(0,0,0,.3);
    z-index: -1;
} */
.section-topic .item-group .item i {
    width: 80px;
    height: 80px;
    font-size: 40px;
    text-align: center;
    line-height: 80px;
    border-radius: 50%;
    color: #fff;
    background-color: var(--light-color);
}
.section-topic .item-group .item h3 {
    font-size: 25px;
    color: var(--main-color);
    padding-top: 5px;
}
.section-topic .item-group .item p {
    font-size: 18px;
    padding: 10px 0 30px;
    color: var(--main-color);
}
.section-topic .item-group .item .btn {
    background-color: var(--main-color);
}
.section-topic .item-group .item .new {
    position: absolute;
    left: 10px; top: 5px;
    font-size: 22px;
    font-weight: 600;
    color: #fff;
}
.section-topic .item-group .item::before {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0; top: 0;
    background-color: var(--side-color);
    clip-path: circle(20% at 6% 0);
    z-index: -1;
    transition: .4s linear;
}
.section-topic .item-group .item:hover {
    box-shadow: 0 10px 15px rgba(0,0,0,.3);
}
.section-topic .item-group .item:hover::before {
    clip-path: circle(100%);
}
.section-topic .item-group .item:hover * {
    color: #fff;
}
/* ============= .section-topic =========== */
/* ============ RWD =============== */
@media (max-width: 1199px) {
   
    .section-topic .item-group .item {
        width: calc(50% - 10.5px);
    }
}
@media (max-width: 767px) {
    .section-topic .item-group .item {
        width: 100%;
    }
}
@media (max-width: 575px) {
    .section-topic {
        margin-top: -40%;
        padding-top: 20%;
    }
    .section-topic::before {
        content: '';
        display: block;
        background-color: #fff;
        height: 130px;
    }
}
/* =========== section-service =========== */
.section-service {
    background-color: #ede4ee;
    padding-top: 80px;
}

.section-service .slide {
    height: 350px;
    overflow: hidden;
    position: relative;
}
.section-service .slide img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    transition: .3s linear;
}
.section-service .slide:hover img{
    transform: scale(1.1);
}

.section-service .slide:hover .content {
    transform: translateY(0);
}
.section-service .slide .content {
    position: absolute;
    bottom: 0; right: 0; left: 0;
    background-color: var(--transparent-white);
    backdrop-filter: blur(5px);
    padding: 20px;
    text-align: center;
    transform: translateY(calc(100% - 60px));
    transition: .3s linear;
}
.section-service .slide .content h3 {
    font-size: 20px;
    color: var(--main-color);
}
.section-service .slide .content p {
    font-size: 15px;
    padding: 10px 0;
    line-height: 2;
    color: var(--main-color);
}
.section-service .slide .content .btn {
    background-color: var(--main-color);
}

.section-service .service-slider  {
    padding-bottom: 40px;
}

.section-service .swiper-pagination .swiper-pagination-bullet {
    background-color: var(--third-color);
    transform: scale(1.1);
    margin: 0 7px;
    opacity: .4;
}
.section-service .swiper-pagination .swiper-pagination-bullet-active {
    transform: scale(1.5);
    opacity: 1;
}
/* =========== section-service =========== */
/* ============= RWD ================ */



/* =========== section-searchFund =========== */
.section-searchFund {
    padding-top: 100px;
}

.section-searchFund .searchResult-title {
    display: flex;
    align-items: center;
    padding: 20px 0;
    border-bottom: 1px solid var(--light-color);
}
.section-searchFund .searchResult-title.active {
    position: fixed;
    left: 0; right: 0; top: 60px;
    z-index: 999;
    max-width: 1200px;
    margin: auto;
    animation: slowDown .8s linear;
    background-color: rgba(255,255,255,.8);
}

.section-searchFund .searchResult-title span {
    font-size: 40px;
    color: var(--third-color);
    font-weight: 600;
    padding-right: 10px;
}
.section-searchFund .searchResult-title .btn {
    margin-left: 20px;
}

.section-searchFund .notes {
    display: flex;
    justify-content: space-between;
    padding: 20px 0;
}
.section-searchFund .notes span {
    color: var(--light-color);
}
.section-searchFund .row {
    display: flex;
    flex-wrap: wrap;
}
.section-searchFund .row::after {
    content: '';
    background-color: var(--light-color);
    width: 100%;
    height: 1px;
    display: block;
    margin: 20px 0;
}
.section-searchFund .row .title {
    width: 15%;
    font-weight: 600;
    font-size: 20px;
    padding-left: 10px;
    box-sizing: border-box;
    position: relative;
}
.section-searchFund .title .title-description {
    padding: 10px;
    background-color: rgba(0,0,0,.3);
    border-radius: 5px;
    color: #fff;
    position: absolute;
    width: 600px;
    top: 120%; 
    left: 0;
    cursor: pointer;
    font-size: 18px;
    line-height: 2;
    /* display: none; */
}
.section-searchFund .title .title-description::before {
    content: '';
    position: absolute;
    width: 0px;
    height: 0px;
    top: -10px; 
    left: 95px;
    margin: auto;
    border-right: 10px solid transparent;
    border-left: 10px solid transparent;
    border-bottom:  10px solid rgba(0,0,0,.3);
}
.section-searchFund .title .title-description:hover div,
.section-searchFund .title .title-description:hover div i {
    color: var(--third-color-active);
}
.section-searchFund .title .title-description div {
    text-align: right;
    padding-top: 20px;
}
.section-searchFund .row .title i {
    color: var(--light-color);
}

.section-searchFund .row .keyword-wrap {
    width: 85%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.section-searchFund .row .keyword-wrap input {
    padding: 13px;
    outline: none;
    border: 1px solid var(--light-color);
    border-radius: 5px;
    font-size: 20px;
}
.section-searchFund .row .keyword-wrap .input-field {
    position: relative;
}

.section-searchFund .row .keyword-wrap input::placeholder {
    color: var(--light-color);
}
.section-searchFund .row .keyword-wrap input:focus::placeholder {
    color: #000;
}
.section-searchFund .row .keyword-wrap input:focus {
    border-color: var(--side-color);
}

.section-searchFund .row .keyword-wrap .match-list {
    padding-left: 0;
    position: absolute;
    right: 0; left: 0;
    border: 1px solid var(--side-color);
    z-index: 100;
    background-color: #fff;
}
.section-searchFund .match-item {
    display: flex;
    padding: 5px 10px;
    cursor: pointer;
}
.section-searchFund .match-item:hover {
    background-color: var(--side-color);
    color: #fff;
}
.section-searchFund .match-item .code {
    padding-right: 10px;
}
.section-searchFund .match-item .code span {
    color: var(--third-color);
}
.section-searchFund .row .keyword-wrap .btn-searchFund {
    color: #fff;
    font-size: 20px;
    background-color: var(--third-color);
    border-radius: 50%;
    padding: 10px;
    cursor: pointer;
    margin-left: 10px;
}
.section-searchFund .row .keyword-wrap .btn-searchFund:hover {
    background-color: var(--third-color-active);
}

/* 基金公司搜尋 */
.keyword-wrap.keyword-wrap-company .input-field {
    position: relative;
}
.match-list-company {
    background-color: #ffa;
    position: absolute;
    top: 100%; left: 0; right: 0;
}
.section-searchFund .match-item.match-item-company {
    padding: 8px 15px;
}
/* 基金公司搜尋 */

.section-searchFund .row .content {
    width: 70%;
}
.section-searchFund .content .keyword-wrap {
    margin-bottom: 20px;
}
.section-searchFund .content .btn-more {
    padding-top: 20px;
}

.section-searchFund .content .category {
    display: flex;
    flex-wrap: wrap;
    padding: 20px 0;
}
.section-searchFund .content .category label {
    padding-right: 25px;
}
.section-searchFund .rating {
    width: 80%;
}
.section-searchFund .rating i {
    cursor: pointer;
    color: var(--light-color);
    padding-right: 10px;
}
.section-searchFund .rating i.active {
    color: var(--third-color);
}
.section-searchFund .rating .rating-remark {
    display: inline-block;
}
.section-searchFund .rating .rating-remark span {
    color: var(--third-color);
    padding-right: 3px;
    padding-left: 5px;
    font-weight: 600;
}
.section-searchFund .asset-block .content .btn-asset-choose {
    display: inline-block;
    margin-right: 20px;
    cursor: pointer;
    font-weight: 600;
    color: var(--side-color);
}
/* 個別調整 */
.section-searchFund .asset-block .content .btn-choose-group {
    display: inline-block;
}
.btn-choose-group.btn-choose-group-company .btn-choose {
    margin-bottom: 10px;
}
/* 個別調整 */
.section-searchFund .detail-check {
    display: block;
    padding-top: 15px;
}
.section-searchFund .detail-check label {
    padding-right: 20px;
}

/* =========== section-searchFund =========== */
/* =========== RWD ============== */
.section-searchFund .searchResult-title.active {
    top: 0;
}

/* =========== section-searchResult =========== */
.section-searchResult {
    padding-top: 0;
}
.section-searchResult .search-condition {
    padding-bottom: 30px;
}
.section-searchResult .condition-item {
    background-color: var(--light-color);
    display: inline-block;
    padding: 5px 10px;
    border-radius: 30px;
    margin-right: 10px;
}
.section-searchResult .condition-item i {
    padding-left: 8px;
    cursor: pointer;
}
.section-searchResult .condition-item i:hover {
    color: #fff;
}

.section-searchResult .search-category {
    padding: 0 20px;
    /* 這邊padding和li百分比寬度無關 */
    position: relative;
}
.section-searchResult .search-category::after {
    content: '';
    position: absolute;
    height: 2px;
    width: 100%;
    bottom: -5px;
    left: 0;
    background-color: var(--side-color);
    /* 使用絕對定位就可以不受padding影響 */
}

.section-searchResult .search-category .row {
    display: flex;
    flex-wrap: wrap;
    gap: 6px;
}
.section-searchResult .search-category li {
    background-color: var(--light-color);
    width: calc(33.3333333% - 4px);
    text-align: center;
    color: #000;
    font-size: 20px;
    padding: 10px 0;
    border-radius: 5px;
    cursor: pointer;
}

.section-searchResult .search-category li.active {
    background-color: var(--side-color);
    color: #fff;
}
/* 共用 */
.section-searchResult .content {
    padding-top: 30px;
}
.section-searchResult .content .result-tr {
    display: flex;
    flex-wrap: wrap;
    border-top: 1px solid var(--light-color);
}
.section-searchResult .content .result-tr:last-child {
    border-bottom: 1px solid var(--light-color);
}
.section-searchResult .content li {
    border-right: 1px solid var(--light-color);
    padding: 10px 8px;
    box-sizing: border-box;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}
.section-searchResult .content li:first-child {
    border-left: 1px solid var(--light-color);
}
/* 基本資料類別 */
.section-searchResult .content.basic-content  li {
    /* width: calc(20% - 1.5px); */
    width: 20%;
}
/* 報酬率類別 */
.section-searchResult .content.performance-content li {
    /* width: calc(14.286% - 1.143px); */
    width: 14.285714%;
}
/* 風險類別 */
.section-searchResult .content.risk-content li {
    /* width: calc(14.286% - 1.143px); */
    width: 16.667%;
}

.btn-buy {
    border-radius: 30px;
    background-color: var(--third-color);
    color: #fff;
    padding: 5px 30px;
}
.btn-buy:hover {
    background-color: var(--third-color-active);
}


/* ============ window ============== */
.window {
    position: fixed;
    margin: auto;
    right:0 ; bottom: 0; left: 50%;
    width: 400px;
    /* border: 1px solid var(--side-color); */
    background-color: #fff;
    border-radius: 5px;
    z-index: 100;
}
/* 頭+身 消失 */
.window .window-upper {
    display: none;
    animation: show .2s linear;
}
.window .window-upper.active {
    display: block;
}
.window .window-head {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    background-color: var(--side-color);
    padding: 5px 10px;
    text-align: center;
    cursor: pointer;
}
.window .window-head .title {
    margin: auto;
}
.window .window-body {
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    border: 1px solid var(--side-color);
    border-bottom: none;
    height: 330px;
}
/* 若沒項目 */
.window .window-body .empty-item {
    color: var(--strong-color);
    font-weight: 600;
    font-size: 18px;
    padding: 120px 0 0;
    text-align: center;
}
.window .window-body .empty-item i {
    padding-left: 5px;
    animation: blink .8s linear infinite;
}
@keyframes blink {
    0%, 100% {
        opacity: 1;
    }
    50% {
        opacity: .5;
        transform: translateY(25%);
    }
}
@keyframes show {
    0% {
       opacity: 0;

    }
    100% {
        opacity: 1;
    }
}
.window .window-body .fund-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 15px;
    position: relative;
}

.window .window-body .fund-item::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 1px;
    background-color: var(--side-color);
    bottom: -5px; left: 0;
}
.window .window-body .fund-item span {
    display: block;
    color: var(--strong-color);
}
.window .window-body .fund-item .btn-close {
    font-size: 20px;
    cursor: pointer;
}
.window .window-body .fund-item .btn-close:hover {
    color: var(--light-color);
}
.window .window-body .block-btn {
    margin: auto auto 10px
}
.window .window-body .block-btn .btn {
    margin: 0 5px;
}
.window .window-footer {
    display: none;
}
.window .window-footer.active {
    display: block;
}
.window .window-footer .btn-list {
   display: flex;
   flex-wrap: wrap;
}
.window .window-footer .btn-list div,
.window .window-footer .btn-list div {
    width: calc(50% - 2px);
    border: 1px solid var(--side-color);
    border-radius: 3px;
    padding: 5px 0;
    text-align: center;
    cursor: pointer;
    font-weight: 600;
    color: var(--side-color);
    background-color: #fff;
}
/* 如為active */
.window .window-footer .btn-list div.active,
.window .window-footer .btn-list div.active {
    background-color:  var(--side-color);
    color: #fff;
}
.window .window-footer .btn-list div span {
    margin-left: 5px;
    background-color: var(--third-color);
    color: #fff;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    display: inline-block;
}

/* ======= window ========= */
/* ======== RWD ============ */
@media (max-width:767px) {
   .window {
       left: 0;
       width: 90%;
   } 
}

/* =============== ?? ============= */
.btnsmall {
    background-color: #eee;
    outline: none;
    border: 1px solid #25322B;
    margin: 0 15px;
}
.btnsmall.active {
    background-color: #fa0;
    color: #fff;
}
.btnDetail {
    background-color: #eee;
    outline: none;
    border: 1px solid #0f0f0f;
    margin: 0 15px;
}
.btnDetail.active {
    background-color: #9B81AE;
    color: #fff;
}

/* ============= section-compare =============== */
/* 共用 */
.section-compare .block-compare-items {
    padding: 0 10px;
}
/* 共用  觸發置頂*/
.section-compare .block-compare-items.active {
    position: fixed;
    top: 60px; right: 0; left: 0;
    max-width: 1200px;
    margin: auto;
    z-index: 1000;
}
.section-compare .compare-items {
    display: flex;
    flex-wrap: wrap;
}
.section-compare .compare-items li {
    background-color: #fff;
    padding: 35px 0 30px;
    box-sizing: border-box;
    text-align: center;
    border: 1px solid var(--light-color);
    position: relative;
}
 /* <!-- 2種比較基金 --> */
.section-compare .block_two_items .compare-items li {
    width: 50%;
}
.section-compare .block_three_items .compare-items li {
    width: 33.3333333%;
}
.section-compare .compare-items li::after {
    content: '';
    position: absolute;
    height: 5px;
    bottom: 0; right: 0; left: 0;
}
.section-compare .compare-items li:first-child::after {
    /* background-color: #D2BD7A; */
    background-color: #FEC77C;
}
.section-compare .compare-items li:nth-child(2)::after {
    background-color: #914DA0;
}
.section-compare .compare-items li:nth-child(3)::after {
    background-color: #FE9494;
}
.section-compare .compare-items li h3 {
    padding-bottom: 20px;
}
.section-compare .compare-items li .btn-delete {
    font-size: 28px;
    color: var(--main-color);
    position: absolute;
    top: 5px;
    right: 8px;
    cursor: pointer;
}
.section-compare .compare-items li .btn-delete:hover {
    color: var(--light-color);
}
.section-compare .block-btn-more {
    text-align: right;
    padding: 30px 0 50px;
}
.section-compare .btn-more {
    border: 1px solid var(--main-color);
    color: var(--main-color);
    border-radius: 30px;
    padding: 5px 13px;
    display: inline-block;
    cursor: pointer;
    font-weight: 600;
    font-size: 18px;
}
.section-compare .btn-more:hover {
    background-color: var(--main-color);
    color: #fff;
}
/* .block-accordion {
    overflow: hidden;
} */
  
.block-accordion .accordion-header {
    color: var(--main-color);
    font-size: 22px;
    padding: 15px 20px;
    font-weight: 600;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    box-shadow: 0 5px 10px rgba(0,0,0,.08);
    position: relative;
    /* z-index: 10; */
}
/* active header*/
.block-accordion.active .accordion-header {
    background-color: var(--side-color);
    color: #fff;
}
.block-accordion .accordion-header::after {
    content: '';
    position: absolute;
    height: 2px;
    background-color: var(--light-color);
    bottom: 0; right: 0; left: 0;
}
/* active header::after*/
.block-accordion.active .accordion-header::after {
    display: none;
}
.block-accordion .accordion-header span {
    color: var(--main-color);
    font-size: 22px;
}
/* active span*/
.block-accordion.active .accordion-header span {
    color: #fff;
}
.block-accordion .accordion-header i {
    font-size: 12px;
    text-align: center;
    line-height: 20px;
    background-color: var(--side-color);
    width: 20px;
    height: 20px;
    border-radius: 50%;
    color: #fff;
}
/* active i*/
.block-accordion.active .accordion-header i {
    background-color: #fff;
    color:  var(--side-color);
}
.block-accordion .accordion-body {
    background-color: #eee;
    padding: 30px;
    display: none;
    animation: extend .3s linear;
}
/* active body*/
.block-accordion.active .accordion-body {
    display: block;
}
@keyframes extend {
    0% {
        opacity: 0;
    }
    /* 100% {
        translateY scaleY都不適合
        transform: translateY(0);
    } */
}
.section-compare .accordion-body .compare-table {
    text-align: center;
    background-color: #fff;
}
.section-compare .accordion-body .compare-tr {
    display: flex;
    flex-wrap: wrap;
    border-top: 1px solid var(--light-color);
    border-right: 1px solid var(--light-color);
    border-left: 1px solid var(--light-color);
}
.section-compare .accordion-body .compare-tr:last-child {
    border-bottom: 1px solid var(--light-color);
}
.section-compare .accordion-body .compare-th {
    width: 20%;
    font-weight: 600;
    font-size: 20px;
    /* 不能下在tr  分別於th td下*/
    padding: 15px 0; 
}
.section-compare .accordion-body .compare-td {
    border-left: 1px solid var(--light-color);
    font-size: 18px;
    padding: 15px 0; 
}
/* 負報酬 => 紅色 */
.section-compare .accordion-body .compare-td.mark {
    color: red;
}
/* 2項資料 */
.section-compare .accordion-body .compare-td_two_items {
    width: calc(40% - 2px);
}
/* 3項資料 */
.section-compare .accordion-body .compare-td_three_items {
    width: calc(26.667% - 5px);
}
/* ========== section-favorite =========== */
.section-favorite .block-btn-more {
    text-align: right;
    padding: 30px 0 50px;
}
.section-favorite .btn-more {
    border: 1px solid var(--main-color);
    color: var(--main-color);
    border-radius: 30px;
    padding: 5px 13px;
    display: inline-block;
    cursor: pointer;
    font-weight: 600;
    font-size: 18px;
}
.section-favorite .btn-more:hover {
    background-color: var(--main-color);
    color: #fff;
}

.section-favorite .btn-goLogin {
    border: 1px solid var(--third-color);
    background-color: var(--third-color);
    color: #fff;
    border-radius: 30px;
    padding: 5px 13px;
    display: inline-block;
    cursor: pointer;
    font-weight: 600;
    font-size: 18px;
    margin-left: 10px;
}
.section-favorite .btn-goLogin:hover {
    border-color: var(--third-color-active);
    background-color: var(--third-color-active);
}
.section-favorite .block-favorite {
    padding: 0 30px;
}
.section-favorite .favorite-tr {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    border-top: 1px solid var(--light-color);
}
.section-favorite .favorite-tr:first-child {
    background-color: var(--light-color);
}
.section-favorite .favorite-tr:last-child {
    border-bottom: 1px solid var(--light-color);
}
.section-favorite .favorite-tr:nth-child(n+4).dark {
    position: relative;
    border-top: 1px solid var(--main-color-active);
}
.section-favorite .favorite-tr:nth-child(n+4).dark::after {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0; top: 0;
    background-color: var(--main-color-active);
}
.section-favorite .btn-goLogin-dark {
    text-align: center;
    margin-top: -100px;
    position: relative;
    z-index: 10;
}
.section-favorite .btn-goLogin-dark p {
    color: #fff;
    padding-bottom: 20px;
}

.section-favorite .favorite-tr .favorite-th.name-th,
.section-favorite .favorite-tr .favorite-td.name-td,
.section-favorite .favorite-tr .favorite-th.btns-th,
.section-favorite .favorite-tr .favorite-td.btns-td {
    width: 14%;
}

.section-favorite .favorite-tr .favorite-th:first-child,
.section-favorite .favorite-tr .favorite-td:first-child {
    border-left: 1px solid var(--light-color);
}
.section-favorite .favorite-tr .favorite-th,
.section-favorite .favorite-tr .favorite-td  {
    width: calc(12% - 1.5px);
    border-right: 1px solid var(--light-color);
    padding: 15px 0;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

/* ========= section-login ========== */
.section-login {
    /* background-color: #FDFBEF; */
    background: url('https://upload.cc/i1/2022/04/04/WqvMxO.jpg') no-repeat,
                url('https://upload.cc/i1/2022/04/04/eIYW7N.png') no-repeat,
                linear-gradient(to bottom,#F5F4F9 65% ,#FDEBE7 75%);
    background-size: 50%, 30%;
    background-position: left top,  right bottom;
    min-height: calc(100vh - 70px);
}
.section-login .container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.section-login .title {
    text-align: center;
    letter-spacing: 2px;
    color: var(--main-color);
    font-weight: 600;
    font-size: 45px;
    padding: 30px 0 15px;
}
.section-login .form-login {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 5px 10px rgba(0,0,0,.3);
    width: 90%;
    max-width: 550px;
    padding: 60px;
    box-sizing: border-box;
}
.section-login .form-login .input-field {
    padding-bottom: 30px;
    font-size: 20px;
}
.section-login .input-field label {
    display: block;
    padding-bottom: 5px;
}
.section-login .input-field input {
    width: 100%;
    box-sizing: border-box;
    padding: 10px;
    border-radius: 10px;
    outline: none;
    border: 1px solid var(--light-color);
    font-size: 18px;
}
.section-login .input-field input:hover {
    border-color: var(--side-color);
}

.section-login .input-field .input-box {
    display: flex;
    align-items: center;
    border: 1px solid var(--light-color);
    border-radius: 10px;
}
.section-login .input-field .input-box:hover {
    border-color: var(--side-color);
}
.section-login .input-field .input-box .input-password {
    border: none;
}
.section-login .input-field .input-box .btn-eye {
    cursor: pointer;
    color: var(--light-color);
    padding-right: 10px;
}
.section-login .btn-login {
    margin-top: 30px;
    cursor: pointer;
    border: none;
    outline: none;
    padding: 10px 0;
    border-radius: 10px;
    color: #fff;
    font-size: 20px;
    display: block;
    width: 100%;
    background-color: var(--side-color);
}
.section-login .btn-login:hover {
    box-shadow: 0 8px 10px rgba(0,0,0,.2);
}

/* ========= footer =========== */
.footer::before {
    content: '';
    position: absolute;
    right: 0; left: 0; top: 0; bottom: 0;
    background-color: #ede4ee;
    z-index: -1;
}
.footer {
    background: linear-gradient(to right, #333d38 , #25322B);
    color: #fff;
    padding: 50px 0 30px;
    border-radius: 125px 0 0 0;
    position: relative;
}
.footer .row {
    display: flex;
    flex-wrap: wrap;
}
.footer .row::after {
    content: '';
    width: 100%;
    height: 2px;
    background-color: var(--light-color);
    margin-bottom: 20px;
}
.footer .col {
    width: 25%;
    padding: 20px;
    box-sizing: border-box;
}
.footer .col:nth-child(1) {
    width: 35%;
}
.footer .col:nth-child(2),
.footer .col:nth-child(3) {
    width: 20%;
}
.footer .col .logo {
    color: #fff;
    font-size: 30px;
    letter-spacing: 5px;
}
.footer .col h3 {
    padding-bottom: 20px;
    width: fit-content;
}
.footer h3 .underline {
    width: 100%;
    height: 5px;
    background-color: #767676;
    border-radius: 3px;
    margin-top: 3px;
    position: relative;
    overflow: hidden;
}
.footer h3 .underline span {
    background-color: #fff;
    width: 15px;
    height: 5px;
    border-radius: 3px;
    display: block;
    top: 0; left: 0px;
    position: absolute;
    animation: moving 2s linear infinite;
}
@keyframes moving {
    0% {
        left: 0;
    }
    100% {
        left: 100%;
    }
}
.footer .col p {
    padding-top: 10px;
}
.footer .col li {
    padding: 5px 0;
}
.footer .col li i {
    padding-right: 10px;
}
.footer .col li a {
    cursor: pointer;
}
.footer .col li a:hover {
    color: var(--strong-color);
}
.footer .input-field {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid var(--light-color);
    padding-bottom: 15px;
}
.footer .input-field input {
    width: 100%;
    /* width: fit-content; */
    background-color: transparent;
    outline: none;
    border: none;
    font-size: 15px;
    color: var(--strong-color);
}

.footer .input-field .far {
    padding-right: 10px;
}
.footer .input-field button {
    background-color: transparent;
    outline: none;
    border: none;
    color: var(--light-color);
    cursor: pointer;
}
.footer .input-field button:hover {
    color: var(--strong-color);
}
.footer .social-icons {
    display: flex;
    padding-top: 40px;
}
.footer .social-icons a {
    display: inline-block;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    color: var(--main-color);
    background-color: #fff;
    text-align: center;
    line-height: 40px;
    font-size: 20px;
    margin-right: 10px;
    cursor: pointer;
}
.footer .social-icons a:hover {
    background-color: var(--strong-color);
    color: #fff;
}
.footer .copyright {
    text-align: center;
}
/* ========= footer =========== */
/* ============ RWD =============== */
@media (max-width: 1199px) {
    .footer .col {
        width: 50%;
    }
    .footer .col:nth-child(1) {
        width: 50%;
    }
    .footer .col:nth-child(2),
    .footer .col:nth-child(3) {
        width: 50%;
    }
}
@media (max-width: 767px) {
    .footer .col {
        width: 100%;
    }
    .footer .col:nth-child(1) {
        width: 100%;
    }
    .footer .col:nth-child(2),
    .footer .col:nth-child(3) {
        width: 100%;
    }
    
}

